.tags-select-wrapper {
    display: flex;
    flex-direction: column;
    row-gap: 3px;
    width: 123px;
}

.tags-select-wrapper select {
    border: none;
    overflow-y: auto;
}

.tags-select-wrapper select option {
    margin: 3px 0;
    padding: 7px;
}
