.tags {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 1em;
}

.tags ul {
    max-width: 147px;
}

.tags ul li {
    margin: 1em 0;
    display: flex;
    justify-content: space-between;
    padding: 10px;
    /*overflow: hidden;*/
    min-width: 127px;
}

.tags ul li div {
    overflow-x: clip;
}

.tags ul li button {
    background: url("../../resources/delete.png") no-repeat;
    width: 16px;
    height: 16px;
    border: none;
    cursor: pointer;
}

.tags > input {
    height: 23px;
}

.tags > button {
    width: 120px;
    height: 29px;
}
