.tags {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 1em;
    width: 300px;
}

.tags ul {
    max-width: 200px;
}

.tags ul li {
    margin: 1em;
    display: flex;
    justify-content: space-between;
    /*height: 1.5em;*/
    padding: 10px;
    /*overflow: hidden;*/
    min-width: 120px;
}

.tags ul li div {
    overflow-x: clip;
}

.tags ul li button {
    background: url("../../resources/delete.png") no-repeat;
    width: 16px;
    height: 16px;
    border: none;
    cursor: pointer;
}

.tags > input {
    height: 23px;
}

.tags > button {
    width: 120px;
}
