.photos {
    /*display: grid;*/
    /*grid-template-rows: repeat(2, 1fr);*/
    /*gap: 1em;*/
    flex: auto;
}

.photos section {
    margin: 1em auto;
}

.photos .untagged ul {
    display: flex;
    flex-wrap: wrap;
    column-gap: 1em;
    row-gap: 1em;
    margin: 1em auto;
}

.photos .tagged img, .photos .untagged img {

    width: 80px;
    height: 80px;
}

.photos .untagged ul li {
    display: flex;
    align-items: flex-end;
}


.photos .untagged ul li button {
    margin-left: -25px;
}

.photos .tagged > div {
    display: flex;
    column-gap: 1em;
    flex-wrap: wrap;
}

.photos .tagged .tag-group {
    max-width: 147px;
    min-width: 127px;
    
}

.photos .tagged .title {
    padding: 10px 5px;
    margin: 1em auto;
    overflow-wrap: break-word;
    max-height: 19px;
    overflow: hidden;
}

@media only screen and (min-width: 768px) {
    .photos .untagged img {
        width: 120px;
        height: 120px;
    }

}



